/******************************************
 * base
 ******************************************/


* {
    box-sizing: border-box;
  }


a, a:focus, a:hover, a:link, a:active, a:visited {
    color: #ccc;
    text-decoration: none;
    user-select: none; /* Modern Browsers */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
}  


html {
    background: black;
    font-size: 62.5%;
}


body {
    align-items: center;
    background: black;
    color: #ccc;
    display: flex;
    font-family: 'Mulish', Sans-Serif;
    font-size: 1.6rem;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}


em {
    font-family: 'Merriweather', Serif;
    font-size: 2rem;
    font-style: italic;    
}


h1,
h2 {
    font-family: 'Merriweather', Serif;
    font-size: 4.6rem;
    font-weight: 400;
    line-height: 5.2rem;
    padding-bottom: 2rem;
}


h3 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 3.2rem;
    padding: 1rem 0;
}


p {
    font-family: 'Mulish', Sans-Serif;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.2rem;
    padding-bottom: 2rem;
    text-align: justify;
}


strong {
    font-family: 'Merriweather', Serif;
}


/******************************************
 * framework
 ******************************************/


.container {
    background: #111;
    border-radius: 1.5rem;
    display:flex;
    flex-flow: column nowrap;
    max-width: 100rem;
    min-height: 57.5rem;
    min-width: 34rem;
    margin: 1rem;
}


.section-container {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


.left {
    align-items: center;
    border-right: 1px solid #666;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 41.5rem;
    padding: 0 3rem;
    width: 40rem;
}


.right {
    align-items: flex-start;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 41.5rem;
    padding: 0 5rem;
    width: 60rem;
}


.hidden {
    display: none;
}


/******************************************
 * navigation
 ******************************************/


.navigation ul {
    align-items: center;
    display: flex;
    height: 10rem;
    justify-content: space-around;
    letter-spacing: 0.25rem;
}


.navigation-links {
    font-size: 2.5rem;
    font-weight: 600;
    transition: all .2s ease-in-out;
}


.navigation-links:hover {
    text-decoration: underline;
    transform: scale(1.1);
}


/* socials */


.navigation-socials {
    font-size: 4rem;
    width: 25rem;
}


.navigation-socials > li {
    transition: all .2s ease-in-out;
}


.navigation-socials > li:hover {
    transform: scale(1.3);
}


/******************************************
 * home
 ******************************************/


#home > .left > p {
    padding: 0;
    text-align: left;    
}


#me {
    background: url('../images/me.webp') no-repeat center;
    background-size: 30rem;
    border-radius: 15rem;
    height:30rem;
    margin-bottom: 2rem;
    width: 30rem;
}


/******************************************
 * portfolio
 ******************************************/


#portfolio a:hover {
    text-decoration: underline;    
}


#darling-and-mason {
    background: url('../images/darling-and-mason-thumbnail.webp') #5512ff no-repeat center;
    background-size: 30rem;
    border-radius: 1.5rem;
    height:41.5rem;
    width: 34rem;
}


/******************************************
 * services
 ******************************************/


#services small, #services a {
    color: #ccc;
    font-size: 1rem;
}


#services a {
    text-decoration: underline;
}


 #services strong{
    letter-spacing: 0;
 }


#services-img {
    background: url(/images/services-img.webp) #5512ff;
    border-radius: 1.5rem;
    height: 41.5rem;
    width: 34rem;
}


/******************************************
 * contact
 ******************************************/


#contact > .left > p {
    padding: 0;
    text-align: left;    
}


#contact h2 {
    font-size: 4.3rem;
}


#contact h2:hover {
    font-size: 4.3rem;
    text-decoration: underline;
}


/******************************************
 * footer
 ******************************************/


footer {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 6rem;
}


footer > section > small,
footer > section > small > a:link,
footer > section > small > a:visited,
footer > section > small > a:hover,
footer > section > small > a:active {
    color: #666666;
    font-size: 1rem;
}


footer > section > small > a:link,
footer > section > small > a:visited,
footer > section > small > a:hover,
footer > section > small > a:active {
    text-decoration: underline;
}


/******************************************
 * media queries
 ******************************************/

