/*---------------------------------------------------------------------------*\

    https://garlandkey.com
    License: None (public domain)

    CONTENTS

    1. RESET - http://meyerweb.com/eric/tools/css/reset/
    2. TYPE - Type rules
    3. CLASS - Class rules
    4. SECTIONS - Organized in loading order of semantic html
    5. QUERIES - Media queries
    6. ANIMATIONS - Keyframe & animations

\*---------------------------------------------------------------------------*/


/*---------------------------------------------------------------------------*\
    RESET
\*---------------------------------------------------------------------------*/


html,body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */


article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav,
section {
	display: block;
}


body {
	line-height: 1;
}


ol, ul {
	list-style: none;
}


blockquote, q {
	quotes: none;
}


blockquote:is(:before, :after),
q:is(:before, :after) {
	content: '';
	content: none;
}


table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*---------------------------------------------------------------------------*\
    TYPE
\*---------------------------------------------------------------------------*/


* {
    box-sizing: border-box;
}


html {
    background: #1c1c1c;
    font: 62.5% 'Mulish', sans-serif;
    height: 100vh;
    width: 100vw;
}


body {
    position: relative;
    z-index: -1000;
}


article {
    align-items: start;
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
    padding: 5rem;
}


p {
    color: #d9d9d9;
    font-size: 3.5rem;
    font-weight: 200;
    line-height: 4.5rem;
    max-width: 60rem;
    padding: 5rem;
    width: 60rem;
}


section {    
    align-items: auto;
    display: flex;
    flex-flow: row wrap;
    gap: 5rem;
    justify-content: center;
    overflow: hidden;
    width: 100vw;
}


article h3 {
    align-self: start;
    border-bottom: 1px solid #d9d9d9;
    color: #d9d9d9;
    font-family: 'Merriweather', serif;
    font-size: 4rem;
    font-weight: 900;
    justify-self: end;
    max-width: 40rem;
    padding-bottom: 1rem;
    width: 40rem;
}


article a {
    align-self: start;
    color: #d9d9d9;
    font-size: 1.5rem;
    font-weight: 600;
    max-width: 40rem;
    text-align: right;
    text-transform: uppercase;
    width: 40rem;
    z-index: 9999;
}


article p {
    align-self: flex-start;
    color: #d9d9d9;
    font-size: 2rem;
    font-weight: 200;
    line-height: 3rem;
    max-width: 40rem;
    padding: 0;
    width: 40rem;
}


section a {
    color: #d9d9d9;
    text-decoration: none;
    z-index: 9999;
}


section i {
    padding: 0 0.5rem;
}


footer {
    color: ;
    background: #d9d9d9;
    font-size: 1.5rem;
    padding: 2rem;
    text-align: center;
    width: 100vw;
}


/*---------------------------------------------------------------------------*\
    CLASS
\*---------------------------------------------------------------------------*/


.container {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    gap: 5rem;
    justify-content: center;
    margin: 5vh 0;
    padding: 5vh 0;
}


.container img {
    align-self: flex-start;
    border-radius: 0.5rem;
    justify-self: left;
    width: 50rem;
}


.link-reverse {
    align-self: start;
    color: #d9d9d9;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
    text-transform: uppercase;
    width: 40rem;
}


.overflow-hidden {
    overflow: hidden;
}


/*---------------------------------------------------------------------------*\
    SECTIONS
\*---------------------------------------------------------------------------*/


/* hero */


.hero {
    align-items: center;
    flex-flow: column nowrap;
    gap: 4vh;
    height: 80vh;
    user-select:none;
}


.hero canvas {
    height: 80vh;
    width: 100vw;
    inset: 0;
    position: absolute;
    clip-path: polygon(
        0 0, /* left top */
        100% 0, /* right top */
        100% calc(100% - 5vw), /* right bottom */
        0 100% /* left botton */
    );
    z-index: -1;
}


.hero h1 {
    color: #d9d9d9;
    font-size: 4.75rem;
    padding-bottom: 5rem;
}


#logo {
    width: 65rem;
}


/* skills */


.skills {
    background: #1c1c1c;
    clip-path: polygon(
        0 0, /* left top */
        100% 0, /* right top */
        100% 100%, /* right bottom */
        0 calc(100% - 5vw) /* left botton */
    );
    position: sticky;
    margin-top: -5.1vw;
    z-index: -2;
}


.skills .skills-grid {
    display: grid;
    gap: 3rem 10rem; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
    grid-template-areas: 
        "item1 item1 item1 item1 item1 item1"
        "item2 item2 item2 item3 item3 item3"
        "item4 item4 item5 item5 item6 item6"
        "item7 item7 item7 item8 item8 item8"
        "item9 item9 item9 item9 item9 item9";
    padding: 5rem;
}


.skills .emoji {
    width: 3.5rem;
}


.skills-grid img {
    width: 8rem;
}


.skills .item1 {
    grid-area: item1;
    justify-self: center;
}


.skills .item2 {
    grid-area: item2;
    justify-self: end;
}


.skills .item3 {
    grid-area: item3;
    justify-self: start;
}


.skills .item4 {
    grid-area: item4;
    justify-self: end;
}


.skills .item5 {
    grid-area: item5;
    justify-self: center;
}


.skills .item6 {
    grid-area: item6;
    justify-self: start;
}


.skills .item7 {
    grid-area: item7;
    justify-self: end;
}


.skills .item8 {
    grid-area: item8;
    justify-self: start;
}


.skills .item9 { 
    grid-area: item9;
    justify-self: center;
}


/* adacomp */

.adacomp {
    background: #2c2c2c;
    clip-path: polygon(
        0 0, /* left top */
        100% 0, /* right top */
        100% calc(100% - 5vw), /* right bottom */
        0 100% /* left botton */
    );
    position: sticky;
    margin-top: -5.1vw;
    z-index: -3;
}


.adacomp img {
    padding: 5rem;
    width: 65rem;
}


/* thinkbig */


.thinkbig {
    background: #3c3c3c;
    clip-path: polygon(
        0 0, /* left top */
        100% 0, /* right top */
        100% 100%, /* right bottom */
        0 calc(100% - 5vw) /* left botton */
    );
    position: sticky;
    margin-top: -5.1vw;
    z-index: -4;
}


.thinkbig img {
    padding: 5rem;
    width: 65rem;
}


/* darling & mason */


.darling-mason {
    background: #4c4c4c;
    clip-path: polygon(
        0 0, /* left top */
        100% 0, /* right top */
        100% calc(100% - 5vw), /* right bottom */
        0 100% /* left botton */
    );
    position: sticky;
    margin-top: -5.1vw;
    z-index: -5;
}


.darling-mason img {
    padding: 5rem;
    width: 65rem;
}


/* resume */

.resume {
    align-items: center;
    background: #d9d9d9;
    display: flex;
    justify-content: center;
    position: sticky;
    margin-top: -5.1vw;
    z-index: -6;
}


.resume .container {
    align-items: center;
    flex-flow: column wrap;
    justify-content: center;
}


.resume img {
    align-self: center;
    border: 2px solid #2c2c2c;
    filter: drop-shadow(0 0.5rem 0.1rem rgb(0 0 0 / 0.2));
    margin: 3rem;
    max-width: 30rem;
    width: 30rem;
}


.resume h3 {
    color: #2c2c2c;
    border-color: transparent;
    margin-bottom: 0;
    text-align: center;
}


.resume a,
.resume a:link,
.resume a:visited {
    align-self: center;
    background: #4c4c4c;
    border-radius: 8rem;
    color: #d9d9d9;
    padding: 2rem;
    text-align: center;
    text-transform: none;
    width: 20rem;
}


.resume a:active,
.resume a:hover {
    background: #6c6c6c;
    border-radius: 8rem;
    color: #d9d9d9;
    padding: 2rem;
}


/* contact */


.contact {
    align-items: center;
    background: #d9d9d9;
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    justify-content: space-evenly;
    max-width: 100vw;
}


.contact-email {
    align-items: center;
    background: #1c1c1c;
    display:flex;
    color: #d9d9d9;
    flex-flow: column nowrap;
    font-family: 'Merriweather', serif;
    font-size: 7.5vw;
    height: 50vh;
    justify-content: center;
    transform: rotate(-4deg) skew(-4deg);
    width: 105vw;
}


.contact-email > a,
.contact-email > a:link,
.contact-email > a:visited {
    color: #d9d9d9;
    text-decoration: none;
    transform: skew(4deg);
}


.contact-email > a:hover,
.contact-email > a:active,
.contact-email > a:focus {
    text-decoration: underline;
}

.contact > nav > ul {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100vw;
}


.contact > nav > ul > li {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    height: 4.5vw;
    justify-content: center;
    width: 4.5vw;
}


.contact-img {
    max-width: 8rem;
    width: 8rem;
}


.contact-img:hover,
.contact-img:active {
    border-bottom: 5px solid #D0CCC6;
    filter: drop-shadow(0 0.5rem 0.1rem rgb(0 0 0 / 0.2));
    padding-bottom: 2rem;
    max-width: 9rem;
    width: 9rem;
}


/*---------------------------------------------------------------------------*\
    QUERIES
\*---------------------------------------------------------------------------*/


@media screen and (max-width: 1250px) {
   
    p {
        padding: 5rem 5rem 0 5rem;
    }


    .skills .skills-grid {
        padding: 0 5rem;
    }

}


@media screen and (max-width: 1200px) {

    article {
        padding-top: 0;
    }


    .link-reverse {
        text-align: right;
    }


    .thinkbig .container,
    .adacomp .container {
        flex-wrap: wrap-reverse;
    }


    .thinkbig img,
    .darling-mason img,
    .adacomp img {
        padding-bottom: 0;
    }

}


@media screen and (max-width: 800px) {

    .hero h1 {
        font-size: clamp(1rem, 0.5rem + 5vw, 4.75rem);
    }
    

    #logo {
        width: 80vw;
    }
    
    
    .contact-img {
        width: 6rem;
    }
    
    
    .contact-img:hover,
    .contact-img:active {
        width: 7rem;
    }


}


@media screen and (max-width: 650px) {

    .thinkbig img,
    .darling-mason img,
    .adacomp img {
        margin: 5rem 2rem;
        width: 100vw;
    }


    .resume .container {
        margin-bottom: 0;
        padding-bottom: 0;
    }


}


@media screen and (max-width: 550px) {

    article {
        align-items: start;
        display: flex;
        flex-flow: column wrap;
        gap: 1rem;
        padding: 0 0 5rem 0;
    }


    article h3 {
        align-self: start;
        border-bottom: none;
        color: #d9d9d9;
        font-family: 'Merriweather', serif;
        font-size: 3rem;
        text-align: center;
        padding: 2rem;
        width: 100vw;
    }
    
    
    article a {
        padding: 0 2rem;
        width: 100vw;
    }
    
    
    article p {
        align-self: flex-start;
        color: #d9d9d9;
        font-size: 2rem;
        font-weight: 200;
        line-height: 3rem;
        padding: 0 2rem 2rem 2rem;
        width: 100vw;
    }
    

    p {
        font-size: 3rem;
        width: 100vw;
    }


    .link-reverse {
        padding: 0 2rem;
        width: 100vw;
    }


    .skills .emoji {
        width: 3rem;
    }


    .skills img {
        width: 5rem;
    }


    .skills .skills-grid {
        gap: 1rem 6rem;
    }


    .thinkbig img,
    .darling-mason img,
    .adacomp img {
        margin: 0 2rem;
    }


    .contact-img {
        width: 4rem;
    }
    
    
    .contact-img:hover,
    .contact-img:active {
        width: 5rem;
    }

}


/*---------------------------------------------------------------------------*\
    ANIMATIONS
\*---------------------------------------------------------------------------*/


@-webkit-keyframes logo-slide-up {
    0% {
        -webkit-transform: translateY(150%);
                transform: translateY(150%);
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}


@keyframes logo-slide-up {
    0% {
        -webkit-transform: translateY(150%);
                transform: translateY(150%);
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}


@-webkit-keyframes h1-slide-up {
    0% {
        -webkit-transform: translateY(150%);
                transform: translateY(150%);
    }
    50% {
        -webkit-transform: translateY(150%);
                transform: translateY(150%);
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}


@keyframes h1-slide-up {
    0% {
        -webkit-transform: translateY(150%);
                transform: translateY(150%);
    }
    50% {
        -webkit-transform: translateY(150%);
                transform: translateY(150%);
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}


.slide-down {
    -webkit-animation: slide-down 5s forwards;
            animation: slide-down 5s forwards;
}


.logo-slide-up {
    -webkit-animation: logo-slide-up 2s;
            animation: logo-slide-up 2s;
}


.h1-slide-up {
    -webkit-animation: h1-slide-up 2s;
            animation: h1-slide-up 2s;
}