/*---------------------------------------------------------------------------*\

    https://garlandkey.com
    License: None (public domain)

    CONTENTS

    1. RESET - http://meyerweb.com/eric/tools/css/reset/
    2. MAIN - Type rules
    3. SECTIONS - Organized in loading order of semantic html
    4. QUERIES -  Media queries
    5. SHARED - Shared rules
    6. ANIMATIONS - Keyframe & animations

\*---------------------------------------------------------------------------*/


/*---------------------------------------------------------------------------*\
    RESET
\*---------------------------------------------------------------------------*/


html,body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */


article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav,
section {
	display: block;
}


body {
	line-height: 1;
}


ol, ul {
	list-style: none;
}


blockquote, q {
	quotes: none;
}


blockquote:is(:before, :after),
q:is(:before, :after) {
	content: '';
	content: none;
}


table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*---------------------------------------------------------------------------*\
    MAIN
\*---------------------------------------------------------------------------*/


* {
    box-sizing: border-box;
}


/* Metaballs Test */


canvas {
    height: 100vh;
    width: 100vw;
}


html {
    background: #000;
    font: 62.5% 'Mulish', sans-serif;
    height: 100vh;
    scroll-snap-type: y mandatory;
    scroll-snap-stop: normal; /* normal || always */
    scroll-behavior: smooth;
    width: 100vw;
}


section {
    scroll-snap-align: center;
}


/*---------------------------------------------------------------------------*\
    SECTIONS
\*---------------------------------------------------------------------------*/


/* topnav */


.topnav {
    display: flex;
    /* calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
    font-size: calc(3rem + (40 - 20) * ((100vw - 300px) / (1600 - 300)));
    height: 10vh;
    justify-content: flex-end;
    position: fixed;
    text-shadow: -0.25rem 0.25rem 0.3rem rgba(0, 0, 0, 0.5);
    top: 0;
    width: 100vw;
    z-index: 1;
}


.topnav ul {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 50vw;
}


.topnav a {
    transition: all .2s ease-in-out;
}


.topnav a:is(:active,:focus,:hover,:link,:visited) {
    display:inline-block;
    color: #fff;
    text-decoration: none;
}


.topnav a:is(:hover,:focus,:active) {
    transform: scale(1.1);
    border-bottom: 0.1rem solid white;
}


.topnav i {
    color: #fff;
    transform: scale(0.75);
    transition: all .2s ease-in-out;
}

.topnav i:is(:active, :hover) {
    transform: scale(1);
}


/* splash section */


.hero {
    align-items: center;
    background: #000;
    color: #fff;
    display: flex;
    flex-flow: column nowrap;
    gap: 4vh;
    justify-content: center;
}


.hero h1 {
    color: #fff;
    font-size: clamp(2rem, 1rem + 2vw, 15rem);
    padding-bottom: 5rem;
}


#logo {
    max-height: 25vh;
    width: 35vw;
}


/* ducky */


#ducky img {
    display: none;
    height: 45vh;
    left: 5vw;
    position: fixed;
    top: 20vh;
    transform: scaleX(-1);
}


/* skills */


.skills {
    align-items: center;
    color: #fff;
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly
}


.bgColor {
    background-color: #333;
}


.blurb {
    color: #fff;
    /* calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
    font-size: calc(2rem + (60 - 20) * ((100vw - 300px) / (1600 - 300)));
    width: calc(2rem + (60 - 20) * ((100vw - 300px) / (1600 - 300)));
    max-width: 95vw;
    min-width: 50vw;
}


.skills img {
    width: 15rem;
}


.skills ul {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 2vw;
    justify-content: space-evenly;
}


/* scroll section */


#scroll {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
}


#scroll img {
    height: 5rem;
}


/* contact */


.contact {
    align-items: center;
    background: #d9d9d9;
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    justify-content: space-evenly;
    max-width: 100vw;
}


.contact-email {
    align-items: center;
    background: #000;
    display:flex;
    color: #d9d9d9;
    flex-flow: column nowrap;
    font-family: 'Merriweather', serif;
    font-size: 7.5vw;
    height: 50vh;
    justify-content: center;
    transform: rotate(-4deg) skew(-4deg);
    width: 105vw;
}

.contact-email > a,
.contact-email > a:link,
.contact-email > a:visited {
    color: #d9d9d9;
    text-decoration: none;
    transform: skew(4deg);
}


.contact-email > a:hover,
.contact-email > a:active,
.contact-email > a:focus {
    text-decoration: underline;
}

.contact > nav > ul {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 100vw;
}


.contact > nav > ul > li {
    align-items: center;
    display: flex;
    height: 4.5vw;
    justify-content: center;
    width: 4.5vw;
}


.contact-img { /* TODO: Add media query with larger icons */
    width: 4vw;
}


.contact-img:hover,
.contact-img:active {
    width: 4.5vw;
}


/*---------------------------------------------------------------------------*\
    QUERIES
\*---------------------------------------------------------------------------*/


/*---------------------------------------------------------------------------*\
    SHARED
\*---------------------------------------------------------------------------*/


.white {
    color: #fff;
}


.black {
    color: #000;
}


.filterBlack {
    filter: brightness(0);
}


.filterWhite {
    filter: brightness(0) invert(1);
}


.hidden {
    display: none;
}


.overflow-hidden {
    overflow: hidden;
}


.card-full {
    height: 100vh;
    width: 100vw;
}


.skill-card-image {
    align-self: flex-end;
    height: 40vh;
    padding: 5rem;
}


/*---------------------------------------------------------------------------*\
    ANIMATIONS
\*---------------------------------------------------------------------------*/


@-webkit-keyframes fade-in {
    0% {
        -webkit-filter: blur(2rem);
                filter: blur(2rem);
        opacity: 0;
    }
    50% {
        -webkit-filter: blur(2rem);
                filter: blur(2rem);
        opacity: 1;
      }
    100% {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        opacity: 1;
    }
}


@keyframes fade-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
}


@-webkit-keyframes slide-down {
    0% {
        -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}


@keyframes slide-down {
    0% {
        -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}


@-webkit-keyframes unroll-up {
    0% {
        -webkit-transform: translateY(150%);
                transform: translateY(150%);
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}


@keyframes unroll-up {
    0% {
        -webkit-transform: translateY(150%);
                transform: translateY(150%);
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}


@-webkit-keyframes h1-unroll-up {
    0% {
        -webkit-transform: translateY(150%);
                transform: translateY(150%);
    }
    50% {
        -webkit-transform: translateY(150%);
                transform: translateY(150%);
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}


@keyframes h1-unroll-up {
    0% {
        -webkit-transform: translateY(150%);
                transform: translateY(150%);
    }
    50% {
        -webkit-transform: translateY(150%);
                transform: translateY(150%);
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}


.fade-in {
	-webkit-animation: fade-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation: fade-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}


.slide-down {
    -webkit-animation: slide-down 5s forwards;
            animation: slide-down 5s forwards;
}


.logo-unroll-up {
    -webkit-animation: unroll-up 2s;
            animation: unroll-up 2s;
}


.h1-unroll-up {
    -webkit-animation: h1-unroll-up 2s;
            animation: h1-unroll-up 2s;
}